#!/usr/bin/env bash

# This script installs necessary packages for a specific Linux
# distribution. ONLY install packages needed for CWIQ-Seed. Additional
# packages should be installed via Ansible.

{{- if .isUbuntu }}
# Ubuntu specific packages
echo "Installing Ubuntu packages..."
sudo apt update
sudo apt install -y \
     ccze \
     molly-guard \
     build-essential \
     libssl-dev \
     libffi-dev \
     python3-dev

sudo apt upgrade -y
{{- else if .isAlmaLinux }}
# Alma Linux specific packages
echo "Installing Alma Linux packages..."
sudo dnf update -y
sudo dnf install -y \
     ccze \
     gcc \
     make \
     openssl-devel \
     libffi-devel \
     python3-devel \
{{- else }}
echo "Unknown OS, skipping package installation"
{{- end }}
