#!/usr/bin/env bash

{{- if .isUbuntu }}
# Ubuntu specific packages
echo "Installing Ubuntu packages..."
sudo apt update
sudo apt upgrade -y
{{- else if .isAlmaLinux }}
# Alma Linux specific packages
echo "Installing Alma Linux packages..."
sudo dnf update -y
sudo dnf upgrade -y
{{- else }}
echo "Unknown OS, skipping package installation"
{{- end }}
