#!/usr/bin/env bash

# This script installs necessary packages for a specific Linux
# distribution. ONLY install packages needed for CWIQ-Seed. Additional
# packages should be installed via Ansible.

{{- if .isUbuntu }}
# Ubuntu specific packages
echo "Installing Ubuntu packages..."
sudo apt update
sudo apt install -y \
     apt-utils \
     build-essential \
     ccze \
     dconf-cli \
     dpkg-dev \
     fonts-emojione \
     fonts-noto-color-emoji \
     fonts-noto-core \
     fonts-noto-extra \
     fonts-noto-mono \
     fonts-symbola \
     libffi-dev \
     libsecret-1-0 \
     libssl-dev \
     meld \
     molly-guard \
     plocate \
     python3-dev \
     tilix \
     unzip \
     wget \
     xclip \
     zip

sudo apt upgrade -y
{{- else if .isAlmaLinux }}
# Alma Linux specific packages
echo "Installing Alma Linux packages..."
sudo dnf update -y
sudo dnf install -y \
     ccze \
     dconf \
     dpkg-dev \
     gcc \
     gcc-c++ \
     google-noto-color-emoji-fonts \
     google-noto-emoji-fonts \
     google-noto-fonts-common \
     google-noto-mono-fonts \
     google-noto-sans-fonts \
     libffi-devel \
     libsecret \
     make \
     meld \
     openssl-devel \
     plocate \
     python3-devel \
     redhat-rpm-config \
     tilix \
     unzip \
     wget \
     xclip \
     zip

sudo dnf upgrade -y

{{- else }}
echo "Unknown OS, skipping package installation"
{{- end }}
