#!/usr/bin/env bash
# 900-epilogue.sh
# This script is run at the end of the installation process.
# It is responsible for cleaning up any temporary files or directories
# and performing any final configuration tasks.

# if $HOME/bin exsists, delete it
if [[ -d "$HOME/bin" ]]; then
  rm -rf "$HOME/bin"
fi


# install git-lfs
# git lfs install
