[/]
copy-on-select=true
focus-follow-mouse=true
paste-advanced-default=false
prompt-on-close=true
quake-specific-monitor=0
session-name='${directory}'
terminal-title-style='normal'
theme-variant='light'
window-save-state=false
window-state=4

[keybindings]
session-add-down='<Primary><Shift>o'
session-add-right='<Primary><Shift>r'
session-name='disabled'
session-open='disabled'
terminal-profile-preference='<Primary><Alt>space'
terminal-title-style='disabled'

[profiles]
list=['2b7c4080-0ddd-46c5-8f23-563fd3ba789d', '9dbf2ad5-e6ae-4e88-94a0-51f9660a679c', 'cb606f75-56e1-4940-86b8-c1ffa03bd95c', '811d5fb0-215e-4ad6-9a6f-38198e591eda', 'd1833743-c3c9-4342-819d-2745b4df55d2']

[profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
background-color='#002B36'
badge-color='#AC7EA8'
badge-color-set=false
badge-text=''
bold-color-set=false
cursor-blink-mode='on'
cursor-colors-set=false
cursor-shape='block'
exit-action='close'
font='AnonymicePro Nerd Font Regular 12'
foreground-color='#8A8AE2E23434'
highlight-colors-set=false
login-shell=false
palette=['#000000000000', '#DC322F', '#859900', '#B58900', '#268BD2', '#D33682', '#2AA198', '#EEE8D5', '#72729F9FCFCF', '#CB4B16', '#586E75', '#657B83', '#839496', '#6C71C4', '#93A1A1', '#FDF6E3']
scrollback-unlimited=true
terminal-bell='icon'
terminal-title='${title}${directory}'
use-system-font=false
use-theme-colors=false
visible-name='development'

[profiles/811d5fb0-215e-4ad6-9a6f-38198e591eda]
background-color='#002B36'
badge-color='#AC7EA8'
badge-color-set=false
bold-color-set=false
bold-is-bright=false
cursor-colors-set=false
custom-command='lein repl'
dim-transparency-percent=34
exit-action='close'
font='AnonymicePro Nerd Font Regular 12'
foreground-color='#8A8AE2E23434'
highlight-colors-set=false
login-shell=false
palette=['#073642', '#DC322F', '#859900', '#B58900', '#268BD2', '#D33682', '#2AA198', '#EEE8D5', '#002B36', '#CB4B16', '#586E75', '#657B83', '#839496', '#6C71C4', '#93A1A1', '#FDF6E3']
scrollback-unlimited=true
use-custom-command=false
use-system-font=false
use-theme-colors=false
visible-name='client-0'

[profiles/9dbf2ad5-e6ae-4e88-94a0-51f9660a679c]
background-color='#303030'
badge-color='#AC7EA8'
badge-color-set=true
bold-color-set=false
cursor-colors-set=false
exit-action='close'
font='AnonymicePro Nerd Font Regular 12'
foreground-color='#FCFCAFAF3E3E'
highlight-colors-set=false
palette=['#000000', '#CC0000', '#4D9A05', '#C3A000', '#3464A3', '#754F7B', '#05979A', '#D3D6CF', '#545652', '#EF2828', '#89E234', '#FBE84F', '#729ECF', '#AC7EA8', '#34E2E2', '#EDEDEB']
terminal-title='${title} ${directory}'
use-system-font=false
use-theme-colors=false
visible-name='client-1'

[profiles/cb606f75-56e1-4940-86b8-c1ffa03bd95c]
background-color='#002B36'
badge-color-set=false
bold-color-set=false
cursor-colors-set=false
exit-action='close'
font='AnonymicePro Nerd Font Regular 12'
foreground-color='#FCFCAFAF3E3E'
highlight-colors-set=false
login-shell=true
palette=['#073642', '#DC322F', '#859900', '#B58900', '#268BD2', '#D33682', '#2AA198', '#EEE8D5', '#002B36', '#CB4B16', '#586E75', '#657B83', '#839496', '#6C71C4', '#93A1A1', '#FDF6E3']
terminal-title='${title} ${directory}'
use-system-font=false
use-theme-colors=false
visible-name='client-2'

[profiles/d1833743-c3c9-4342-819d-2745b4df55d2]
background-color='#263238'
badge-color-set=false
bold-color-set=false
cursor-colors-set=false
font='AnonymicePro Nerd Font Regular 12'
foreground-color='#A1B0B8'
highlight-colors-set=false
palette=['#252525', '#FF5252', '#C3D82C', '#FFC135', '#42A5F5', '#D81B60', '#00ACC1', '#F5F5F5', '#708284', '#FF5252', '#C3D82C', '#FFC135', '#42A5F5', '#D81B60', '#00ACC1', '#F5F5F5']
use-system-font=false
use-theme-colors=false
visible-name='client-3'
