# chezmoi completion
{{ completion "bash" }}

function cz() {
  chezmoi "$@"
}



if [[ $(type -t compopt) = "builtin" ]]; then
    complete -o default -F __start_chezmoi cz
else
    complete -o default -o nospace -F __start_chezmoi cz
fi
