#!/usr/bin/env bash
# 100-sudo.sh
# :::::::::::::::::::::::::::::::::::::::::::::::::::::::

if [[ -f "$HOME/.etc/sudoers.d/user-nopasswd" ]]; then
    sudo cp "$HOME/.etc/sudoers.d/user-nopasswd" /etc/sudoers.d/{{.chezmoi.username}}-nopasswd
    sudo chmod 0440 /etc/sudoers.d/{{.chezmoi.username}}-nopasswd
fi
