# dot_secret/bw-pull.sh.tmpl
#!/usr/bin/env bash
set -eo pipefail

# Initialize environment
SECRETS_DIR="$HOME/.secrets/bitwarden"
LOG_FILE="missing.log"

# if BW_SESSION not set, login to Bitwarden
if [[ -z "$BW_SESSION" ]]; then
  echo "BW_SESSION is not set. Please log into Bitwarden first."
  exit 1
fi

# Delete existing log files
find "$SECRETS_DIR" -name "$LOG_FILE" -delete

# Iterate through bitwarden secret configurations
{{ range $section, $data := .secrets.bitwarden }}
  {{ if $data }}
    echo {{ $data }}
    echo {{ $section }}
  {{ end }}
{{ end }}
