#!/bin/bash

set -e

# Get OS version from /etc/os-release
ID="{{ .chezmoi.osRelease.id }}"
VERSION="{{ .chezmoi.osRelease.versionID }}"

if [[ "$ID" == "ubuntu" && "$VERSION" == "24.04" ]]; then
  echo "Installing noble.bashrc to ~/.bashrc for Ubuntu 24.04..."
  cp "{{ .chezmoi.sourceDir }}/bash/noble.bashrc" "$HOME/.bashrc"
else
  echo "Skipping noble.bashrc installation: not Ubuntu 24.04."
fi

