<!DOCTYPE html>
<html>
<head>
    <meta name="pypi:repository-version" content="1.0">
    <title>Local Python Package Index</title>
</head>
<body>
    <h1>Local Python Package Index</h1>
    <p>PEP 503 compliant simple repository index</p>
    <!-- Package links will be dynamically added here -->
    <!-- Example format: -->
    <!-- <a href="package-name/">package-name</a><br> -->
</body>
</html>
