# ~/.local/share/chezmoi/dot_config/starship.toml.tmpl

# Core configuration
add_newline = true
format = "$all"

[shlvl]
disabled = false
threshold = 2
format = "via [$symbol$shlvl]($style) "
symbol = "↕️  "
style = "bold yellow"

# Standard modules configuration
[character]
success_symbol = "[➜](bold green)"
error_symbol = "[✗](bold red)"

[cmd_duration]
min_time = 500
format = "took [$duration](bold yellow)"

[directory]
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = "🌱 "
truncation_length = 16
truncation_symbol = ""

[git_commit]
commit_hash_length = 4
tag_symbol = " "

[git_state]
format = '[\($state( $progress_current of $progress_total)\)]($style) '
cherry_pick = "[🍒 PICKING](bold red)"

[git_status]
conflicted = "🏳"
ahead = "🏎💨"
behind = "😰"
diverged = "😵"
untracked = "🤷"
stashed = "📦"
modified = "📝"
staged = '[++\($count\)](green)'
renamed = "👅"
deleted = "🗑"

[hostname]
ssh_only = false
format = "@[$hostname](bold red) "
disabled = false

[package]
format = "via [🎁 $version](208 bold) "

[python]
symbol = "🐍 "
pyenv_version_name = true
detect_extensions = ["py"]

[username]
style_user = "blue bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = true
