# home envrc

# keeping a .envrc in $HOME ensures "source_up" works from all
# subfolders without a warning

export GITHUB_ID="{{ .githubId }}"
export HOME_REALM="{{ .homeRealm }}"

export POLYLITH_ROOT="$HOME/realms/${HOME_REALM:?}/src/polylith"
export POLYLITH_COOKIECUTTER="${POLYLITH_ROOT:?}/polycookiecutter"
export POLYLITH_KCL="${POLYLITH_ROOT:?}/polykcl"
export POLYLITH_BASH="${POLYLITH_ROOT:?}/polybash"
export POLYLITH_PYTHON="${POLYLITH_ROOT:?}/polypython"
export POLYLITH_EMACS="${POLYLITH_ROOT:?}/polyemacs"

# uv searches local pip repository for packages in space separated list
export UV_INDEX="file://${HOME}/.local/share/pip/simple"
